<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Moive Database</title>
    
    <link rel="stylesheet" href="/static/style.css">
</head>

<body >
    <div class="header">
        <h3>Movie DB</h3>
    </div>
    <header>
        <%- include('./partials/header'); %>
            <link rel="stylesheet" href="/static/mediaDetails.css">
    </header>

    <main class="container">
        <div class="content">
            <h1>Your Favorate</h1>
            <div class="details">
                <div id="cards" class="casts">

                </div>
            </div>
        </div>
    </main>

    <script src="/static/js/favorate.js"></script>
</body>

</html>